<%- include ('./layouts/header') %>
<body>
    <form action="/user" method="post">
        <input type="text" name="firstname" id="firstname">
        <input type="text" name="lastname" id="lastname">
        <input type="submit" value="Submit">
    </form>
    <% if (users.length > 0) { %>
        <ul>
            <% users.map( user => { %>
                <li><%= user.firstname %> <%= user.lastname %> <%= user.age %></li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>Aucun utilisateur</p>
    <% } %>
</body>
</html>
<%- include ('./layouts/footer') %>