<%- include ('./layouts/header') %>

<body>
    <h1>Voici l'article <b><%= article.title %></b> </h1>

    <table border="1" cellpadding="15">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Auteur</th>
        </tr>

        <tr>
            <td><%= article.id %></td>
            <td><%= article.title %> </td>
            <td><%= article.description %></td>
            <% if (article.user != undefined) { %>
            <td><%= article.user.firstname %> <%= article.user.lastname %></td>
            <td><a href="/user/show/<%=article.user.id%>"><i class="fa-solid fa-eye"></i></a></td>
            <% }else{ %>
            <td>Aucun utilisateur</td>
            <% } %>
        </tr>
</body>
<%- include ('./layouts/footer') %>