<%- include ('./layouts/header') %>

<body>
    <h3>Bonjour <b><%= user.firstname %></b> </h3>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Age</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.firstname %></td>
                <td><%= user.lastname %></td>
                <td><%= user.age %></td>
            </tr>
        </tbody>

    </table>
</body>
<%- include ('./layouts/footer') %>