<%- include ('./layouts/header') %>
<body>


<% if (users.length > 0) { %>
  <h3> Tous les utilisateurs</h3>
  <table border="1" cellpadding="15"> 
    <tr>
        <th>User n°</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Age</th>
    </tr>
  
    <% i = 1 %>
      <% users.map( user => { %>
        <tr></tr>
          <td><%= i++ %></td>
          <td><%= user.firstname %></td>
          <td> <%= user.lastname %></td>
          <td> <%= user.age %> ans</td>
        </tr>
      <% }) %>

  </table>
<% } else { %>
  <p>Aucun utilisateur</p>
<% } %>
<br>
<h3> Créer un utilisateur</h3>
<form action="/user" method="post">

  <input type="text" placeholder = "Prénom" name="firstname" ">
  <input type="text" placeholder = "Nom" name="lastname" >
  <input type="text" placeholder = "Age" name="age" ">
  <input type="submit" value="Submit">
</form>
</body>
<%- include ('./layouts/footer') %>