<%- include ('./layouts/header') %>
<body>
    <% if (users.length > 0) { %>
        <ul>
            <% users.map( user => { %>
                <li><%= user.firstName %> <%= user.lastName %> <%= user.age %></li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>Aucun utilisateur</p>
    <% } %>
</body>
<%- include ('./layouts/footer') %>